/* General */

:root {
    --primary-color: #8054cc;
    --secondary-color: #4960CC;
    --tertiary-color: #80CC3F;
    --color4: #CCB368;
    --color5: #C25ECC;
    --primary-color-bright: #f5f1fb;
    --secondary-color-bright: #e8ebf9;
    --tertiary-color-bright: #ebf7e0;
    --text-color: black;
    --background-color: white;
    --highlight-textcolor: white;
    --sun-color1: #edc655;
    --sun-color2: #fcffad;
    --sun-color3: #f76414;

    --fontsize-normal: 16pt;
    --fontsize-navigation: 14pt;
    --fontsize-h1: 30pt;
    --fontsize-h2: 24pt;
    --fontweight-normal: 400;
    --fontweight-bold: 700;

    /* font sizes for smaller screens: */
    /* they are not repeats, but it's easier to have them together here */
    --fontsize-h1-small: 28pt;
    --fontsize-h1-smaller: 26pt;
    --fontsize-h1-smallest: 24pt;
    --fontsize-h2-small: 22pt;
    --fontsize-h2-smaller: 20pt;
    --fontsize-h2-smallest: 18pt;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--fontweight-normal);
    font-size: var(--fontsize-normal);
}

::selection {
    color: var(--highlight-textcolor);
    background: var(--secondary-color);
}

/* TODO: <code> font */


/* Header, footer and main */

main {
    padding: 10px 0 10px 0;
}

main p {
    line-height: 1.6;
    text-align: justify;
}

.page-container {
    padding: 50px 5% 20px 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-footer {
    margin-top: auto;
}

.page-header {
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: flex-end;
}

.page-header__item {
    flex: 0 1 100px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.page-header__logo {
    height: 100%;
    width: auto;
}

.navigation-list {
    list-style-type: none;
    margin-bottom: 0;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item {
    color: var(--primary-color);
    font-size: var(--fontsize-navigation);
}

.navigation-list__item--active {
    color: var(--text-color);
}

.clearfix {
    clear: both;
    min-height: 10px;
}

.page-footer {
    border-top: 2px solid var(--primary-color);
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--background-color);
    z-index: 1;
    width: 100%;
    font-size: var(--fontsize-navigation);
}

.page-footer__icon {
    width: 30px;
    height: 30px;
}

.invisible {
    display: none;
}



/* Text and links */

a {
    color: var(--primary-color);
    transition: 0.1s color;
}

a:visited {
    color: var(--secondary-color);
}

a:hover,
a:focus {
    text-decoration: none;
}

a:active {
    color: var(--tertiary-color);
}

h1 {
    font-size: var(--fontsize-h1);
    font-weight: var(--fontweight-bold);
}

h2 {
    font-size: var(--fontsize-h2);
    font-weight: var(--fontweight-bold);
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: var(--fontsize-navigation);
    padding: 0 15px 0 15px;
}

/* Content specific */

.content-narrow {
    max-width: 700px;
    margin: 0 auto;
}

.profile__figure {
    float: left;
    max-width: 250px;
}

.profile__photo {
    max-width: 250px;
    border-radius: 10%;
}

.pic-container {
    width: 80%;
}

.about-table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.about-table td, .about-table th {
    vertical-align: top;
    padding: 10px 10px;
    border-style: none;
}

.about-table td:first-child {
    text-align: end;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
    min-width: fit-content;
}

.about-table td:last-child {
    padding-right: 20px;
    text-align: justify;
    border-radius: 0 10px 10px 0;
}

.about-table th {
    text-align: center;
    border-radius: 10px;
    font-weight: var(--fontweight-bold);
    background-color: var(--primary-color-bright);
}

.about-table tr:nth-child(3n+1) td {
    background-color: var(--secondary-color-bright);
}

.about-table tr:nth-child(3n+2) td {
    background-color: var(--tertiary-color-bright);
}

.about-table tr:nth-child(3n+3) td {
    background-color: var(--primary-color-bright);
}

/* Grid fallback */
.work-list__item {
    float: left;
    width: 25%;
    padding: 10px;
    border: 10px solid var(--background-color);
    background-color: var(--primary-color-bright);
}

@supports (display: grid) {
    .work-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .work-list__item {
        background-color: var(--primary-color-bright);
        padding: 0 20px 20px 20px;
        border: 0px;
        width: auto;
        border-radius: 20px;
    }

    .work-list__item:last-child {
        grid-column: 4 / 4;
        grid-row: 1 / 3;
    }
}

.contact-item {
    width: 200px;
    margin-bottom: 10px;
}

button,
.button {
    display: inline-block;
    box-sizing: border-box;
    background-clip: border-box;
    background-origin: padding-box;
    color: var(--text-color);
    background-color: var(--background-color);
    text-decoration: none;
    border: solid 2px var(--primary-color);
    border-radius: 20px;
    padding: 4pt 10pt 4pt 10pt;
    margin: 5px 0 5px 0;
    transition: 0.1s background-color;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: var(--primary-color-bright);
}

.button:visited {
    color: var(--text-color);
}

input,
textarea {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 200px;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--primary-color);
    background-color: var(--primary-color-bright);
}





/* Animations */

@keyframes color-change {
    0% {
        fill: var(--primary-color);
    }

    50% {
        fill: var(--secondary-color);
    }

    100% {
        fill: var(--tertiary-color);
    }
}

.page-header__logo:hover {
    animation-duration: 0.8s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes buttonclick {
    50% {
        transform: scale(0.96);
    }
}

.button:active {
    animation-name: buttonclick;
    animation-duration: 70ms;
    animation-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.slide-up {
    transform: translateY(120px);
    opacity: 0;
    animation: slide-up 0.4s ease forwards;
}

.slide-up:nth-child(2) {
    animation-delay: 50ms;
}

.slide-up:nth-child(3) {
    animation-delay: 100ms;
}

.slide-up:nth-child(4) {
    animation-delay: 150ms;
}

.slide-up:nth-child(5) {
    animation-delay: 200ms;
}

.slide-up:nth-child(6) {
    animation-delay: 250ms;
}

.work-list .slide-up:last-child {
    animation-delay: 50ms;
}

@keyframes sun-change {
    0% {
        fill: var(--sun-color1);
    }

    50% {
        fill: var(--sun-color2);
    }

    100% {
        fill: var(--sun-color3);
    }
}

.sun {
    animation: 4s sun-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}


/* Responsive */

@media all and (max-width: 750px) {
    .work-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
}

@media all and (max-width: 500px) {
    .work-list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    h1 {
        font-size: var(--fontsize-h1-smallest);
    }

    h2 {
        font-size: var(--fontsize-h2-smallest);
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .work-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    h1 {
        font-size: var(--fontsize-h1-smaller);
    }

    h2 {
        font-size: var(--fontsize-h2-smaller);
    }
}

@media all and (min-width: 750px) and (max-width: 1000px) {
    .work-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .work-list__item:last-child {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    }

    h1 {
        font-size: var(--fontsize-h1-small);
    }

    h2 {
        font-size: var(--fontsize-h2-small);
    }
}

@media all and (max-width: 600px) {
    .profile {
        margin: 20px auto;
    }
    
    .profile__figure {
        float: none;
        margin: 0 auto;
    }
}

@media all and (max-width: 450px) {
    .about-table td {
        display: block;
    }
    .about-table td:first-child {
        text-align: center;
        border-radius: 10px 10px 0 0;
        font-weight: var(--fontweight-bold);
    }
    .about-table td:last-child {
        text-align: justify;
        border-radius: 0 0 10px 10px;
    }
}

/* fix for scrollbar messing up the centering */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter */
html {
    overflow-y: scroll;
} 

@supports (scrollbar-gutter: stable) {
    html {
        overflow-y: auto;
        scrollbar-gutter: stable both-edges;
    }
} 